<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="KODIRemoteController.KODIRemoteController" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="16" />
  <application android:label="KODIRemoteController" android:theme="@android:style/Theme.NoTitleBar"></application>
</manifest>